.App {
  margin-top: 50px;
}

.App-address {
  font-size: xx-small;
}

.App-connectButton {
  text-align: right;
  margin-right: 25px;
}

.App-inputForm {
  text-align: center;
  margin: 25px 0;
}

.App-nameField {
  max-width: 150px;
  margin-right: 5px !important;
}

.App-textField {
  margin-right: 5px !important;
}

.App-submitButton {
  vertical-align: bottom !important;
}

.App-status {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 5px 0;
}

.App-card {
  width: 325px;
  margin: 25px 0 0 10px;
}

.App-cardTitle {
  margin: 0;
}

.App-cardBox {
  margin: 75px auto;
  width: 95%;
  height: 750px;
  overflow-y: scroll;
  background-color: #eee;
}
